header{
	display:inline;
}
h1{
	font-family:"Lucida Handwriting", fantasy;
}
h3{
	font-family:'Brush Script MT', cursive;
	font-size:35px;
}
main{
	background-color:antiquewhite;
}
#testata{
	background-color:antiquewhite;
	color:antiquewhite;
}
#corpo{
	border-top-style:double;
	border-top-color:darkgoldenrod;
	border-top-width:5px;
}
#cards p{
	text-align:justify;
}
span{
	text-decoration: underline;
}
#back_to_top{
	text-align:center;

}
footer{
	background-color:lightcyan;
}
$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");
