header{
	display:inline;
}
h1{
	font-family:"Lucida Handwriting", fantasy;
}
h3{
	font-family:'Brush Script MT', cursive;
	font-size:35px;
}

main{
	background-color:paleturquoise;
}
#prima{
	text-align:left;
}
#titolo_opera{
	text-align:center;
}
h2{
	font-family:"Lucida Handwriting", fantasy;
}
span{
	text-decoration:underline;
}
.persone{
	color:darkmagenta;
	text-decoration:underline;
	text-decoration-style:wavy;
	text-decoration-color:darkmagenta;
}
.date{
	color:fuchsia;
}
.luoghi{
	color:tan;
}
.enjambements:hover{
	text-decoration:overline underline;
	text-decoration-color:blue;
	color:mediumblue;
}
.anafore:hover{
	text-decoration:underline;
	text-decoration-style:wavy;
	text-decoration-color:blue;
	color:mediumblue;
}
#dopo{
	text-align:right;
}
#presentazione_1{
	background-color:aqua;
	border-style:double;
	border-color:mediumblue;
	border-width:3px;
}
#presentazione h4{
	font-family:'Brush Script MT', cursive;
	font-size: 30px;
}
#offcanvas{
	text-align:justify;
}
blockquote{
	text-align:justify;
	font-size:17px;
	border-left-style:double;
	border-left-width:5px;
	border-left-radius:12px;
	border-left-color:royalblue;
}
dt{
	font-weight:normal;
}
#suggerimenti1{
	background-color:lavenderblush;
}
#suggerimenti2{
	background-color:lavenderblush;
}
h6 a{
	color:gray;
}
#back_to_top{
	text-align:center;
}
footer{
	background-color:lightcyan;
}
$breadcrumb-divider: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='#{$breadcrumb-divider-color}'/></svg>");
